<form method="post" asp-controller="Author" asp-action="AddAuthor">
    <label>Имя</label>
    <input type="text"name="Name" />
    <label>Фамилия</label>
    <input type="text" name="Surname"/>
    <input type="submit" value="Добавить" />
</form>
